/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 12, 2023, 3:35:50 PM
    Author     : lenovo
*/

body {
    margin:0;
    height:100%;
}

.bothside {
    width: 100%;
    height: 100vh;
}

.leftbody{
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100vh;
    background-image: url('../IMG/signup1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: saturate(100%) sepia(80%) saturate(567%) hue-rotate(154deg) brightness(90%) contrast(97%);
}

.rightbody {
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(180deg, #ffffff, #ffffff);
}

/*text*/

h3 {
    font-size: 50px;
    font-family: sans-serif;
    color: #0a4d68;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
}


/*forms*/

fieldset {
    border: none;
padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 25%;
    height: 100%;
    text-align: center;
}

label {
    display: block;
    min-width: auto;
    position: relative;
    padding-left: 24.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;

    font-size: 17px;
    font-family: sans-serif;
    color: #0a4d68;
    vertical-align: middle;
    text-align: justify;
}

#username, #reusername, #password, #repassword, #answer {
    display: block;
    min-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
margin-bottom: 20px;
    vertical-align: middle;
    color: #0a4d68;
}


/*button*/

.submit {
    display: block;
    height: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    background-color: #05bfdb;
    border-color: transparent;
    min-width: 40%;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.submit:hover {
    background-color: #00ffca;
    color: #0a4d68;
}


/*captcha*/

.captcha {
    border: 5px solid #088395;
    display: inline-block;
}

.center {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
